@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

.leaflet-container {
  font-family: inherit;
  border-radius: 1rem;
}

.leaflet-popup-content-wrapper {
  background: #ffffff !important;
  color: #0f172a !important;
  border-radius: 1rem !important;
  border: 1px solid #e2e8f0 !important;
  padding: 4px !important;
  box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.05) !important;
}

.leaflet-popup-tip {
  background: #ffffff !important;
}

.custom-leaflet-marker {
  background: transparent;
  border: none;
}

